{% include base_path %}

<div class="page__footer-follow">
    <ul class="social-icons">
    <a href='https://www.counters-free.net/'>Counters-Free.net</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=bca46c7dac14f57064425910566e161b8d3de906'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/589359/t/5"></script> 
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale]. powered_by | default: "Powered by" }} Quantum </a>.</div>
