---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
    body {background-color: powderblue;}
    h1 {background-color: powderblue;}
    h1 {color: black;}
    p {color: black;}
  </style>
  </head>

  <body style="background-color:powderblue;">

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
